/* VARIABLES CSS */
:root{
    /* tipografia  */
    --big-size: 4.5rem;
    --h1-size: 3.5rem;
    --h2-size: 3rem;
    --h3-size: 2.75rem;
    --h4-size: 2.5rem;
    --h5-size: 2rem;
    --text-size: 1rem;

    --bold-weight: 600;
    --semi-weight: 500;
    --regular-weight: 400;

    
    /* colores */
    --body-color:#F7FAFD;
    --text-color:#1B3A65;
    --primary-color:#4DB29E;
    --secondary-color:#D5E6F7;
}

.inicio{
    background-color: var(--secondary-color);
    border-radius: 0 0  40rem;
}

.inicio_container{
    color:var(--text-color);
}