/* INICIO */
.inicio{
    background-color: var(--secondary-color);
    border-radius: 0 0 40rem;
}

.inicio_container{
    align-items: center;
    color:var(--text-color);
    gap: 3rem;
}
.inicio_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.inicio_img img{
    background-color: var(--primary-color);
    border-radius: 4rem 1rem;
    width: 320px;
}
/*=======Informacion=======*/

.information_container{
    flex-direction:row-reverse;
    gap: 3rem;
}

.information_title{
    color:var(--text-color)
}
 

.information_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.information_text{
    line-height: 1.7;
}

.information_list ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.information_list_item {
    display: flex;
    align-items: center;
    gap:.5rem;
}

.information_list_item i{
    color: var(--text-color);
    font-weight: var(--bold-weight);
}

.information_img-content{
    overflow: hidden;
    border-radius: 3.7rem 0rem;
    width: 100%;
    height: 80%;
}

.information_img-content img{
    width: 100%;
}

.information_img-content:hover img{
  transform: scale(1.1);
}
.btn-primary{
    background-color: var(--primary-color);
    
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 30px;
    padding: 1rem  2rem;
    position: relative;
    margin: 10px 0;  
    display:flex;    
    align-items: center;
    gap: .5rem;
    max-width: max-content;
    z-index: 1;
}



/* SERVICIOS */
.servicios_cards{
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.servicios_card_item{

    flex: auto;

    background-color: var(--secondary-color);
    border-radius: 2rem;
    padding: 2rem;
}


.card_logo img{
    width: 64px;
    align-items: center;

}