/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root{
    /* tipografia  */
    --big-size: 4.5rem;
    --h1-size: 3.5rem;
    --h2-size: 3rem;
    --h3-size: 2.75rem;
    --h4-size: 2.5rem;
    --h5-size: 2rem;
    --text-size: 1rem;

    --bold-weight: 600;
    --semi-weight: 500;
    --regular-weight: 400;
    
    /* colores */
    --body-color:#F7FAFD;
    --text-color:#1B3A65;
    --primary-color:#4DB29E;
    --secondary-color:#D5E6F7;
}

/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
    line-height: 1.3;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    font-weight: var(--bold-weight);
}

i{
    cursor: pointer;
    display: flex;
}

h1{
    font-size: var(--h1-size);
}

h2{
    font-size: var(--h2-size);
}

h3{
    font-size: var(--h3-size);
}

h4{
    font-size: var(--h4-size);
}

h5{
    font-size: var(--h5-size);
}

/* CLASES REUSABLES */
.container{
    max-width: 1020px;
    margin: 0 auto;
}

.section{
    min-height: 80vh;
    padding:4rem 0 1rem;
}

.big-text{
    font-size: var(--big-size);
    font-weight: var(--bold-weight);
}

.text-color{
    color: var(--primary-color);
}

.flex{
    display: flex;  
    gap: 2rem;
    display: flex;
    justify-content: space-around;
}

.grid{
    display: grid;
}

.btn-primary{
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 30px;
    padding: 1rem  2rem;
    position: relative;
    margin: 10px 0;  
    display:flex;    
    align-items: center;
    gap: .5rem;
    max-width: max-content;
    z-index: 1;
}


.btn-primary:hover{
    background-color: #236e5f;  
}

.btn-primary:hover i{
    transform: translateX(5px);
}

/* NAVBAR */
nav{
    position:fixed;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 2;
}

.navbar_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.navbar_menu{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar_item_link{
    color: var(--text-color);
    font-weight: var(--semi-weight);
}

.navbar_toogle, .navbar_close{
    font-size: 1.3rem;
    display: none;
}

.navbar_toogle:active, .navbar_close:active{
    transform: scale(.95);
}

.navbar_close{
    color: var(--body-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: .2rem .4rem;
    font-weight: var(--semi-weight);
}

.navbar-scrolled{
    background-color: var(--body-color);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}


/* FOOTER */
.footer{
    background-color:var(--text-color);
    padding: 4rem 0;
}
.footer{
    color: var(--body-color);
}

footer h5{
    color: var(--primary-color);
}


.footer_container{

    gap: 3rem;
    justify-content: space-around;
}



@media screen and (max-width: 992px){
    .container{
        max-width: 80%;
    }

}
    
@media screen and (max-width: 768px){
    :root{
        /* tipografia  */
        --big-size: 3rem;
        --h1-size: 2.5rem;
        --h2-size: 2rem;
        --h3-size: 1.5rem;
        --h4-size: 1rem;
        --h5-size: .7rem;
        --text-size: .5rem;
    }

    .flex{
        gap: 1rem;
        flex-direction: column;
    }

    .navbar_menu{
        position: fixed;
        top: -100rem;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--secondary-color);
        flex-direction: column;
    }

    .navbar_menu_show{
        top: 0;
    }

    .navbar_toogle{
        display: block;
    }
    .navbar_close{
        display: block;
    }
}

@media screen and (max-width: 368px){
    :root{
        /* tipografia  */
        --big-size: 2.75rem;
        --h1-size: 2.25rem;
        --h2-size: 1.5rem;
        --h3-size: 1rem;
        --h4-size: .75rem;
        --h5-size: .5rem;
        --text-size: .3rem;
    }
}